
					<div class="panel-heading">
						<h3 class="panel-title">Clientes Cadastrados no Sistema</h3>
					</div>

					<div class="text-right">
            <%= link_to new_cliente_path,
              class: 'btn btn-secondary',
              title: 'Novo cliente',
              data: { toggle: 'tooltip', placement: 'top' } do %>
              <i class="fas fa-plus"></i>
            <% end %>
          </div>

          <div class="table-responsive">
					<table class="table table-data card-table table-vcenter text-nowrap" id="dev-table">
						<thead>
							<tr>
                <th>#</th>
                <th>Nome</th>
                <th>Tel</th>
                <th>Cep</th>
               
                <th>Bairro</th>
                <th>Cidade</th>
                <th>Uf</th>
                <th colspan="3"> Ações</th>
              </tr>
						</thead>
						<tbody>
                <%= render @clientes  %>
            </tbody>
						
					</table>
				</div>
        </div>
			

<br>